.main-box button {
    width: 20%;
    padding: 0.5rem
}
.contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-us label {
    width: 25%;
    margin: 1rem 0;
}
.contact-us input {
    width: 65%;
    border-radius: 10px;
}